* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.user_block {
    margin: 44px 0 74px;
    h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 11px;
        font-family: 'Gilroy', sans-serif;
    }

    span {
        color: #0047FF;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Gilroy', sans-serif;
    }
}

.wallet {
    display: flex;
    gap: 30px;
    margin: 21px 0;
    .item {
        width: 289px;
        height: 180px;
        border-radius: 20px;
        position: relative;
            h2 {
                color: #fff;
                position: absolute;
                top: 20px;
                left: 25px;
                font-weight: 500;
                font-size: 24px;
                font-family: 'Gilroy', sans-serif;
            }
            p {
                color: #fff;
                position: absolute;
                bottom: 20px;
                left: 25px;
                font-weight: 700;
                font-size: 14px;
                font-family: 'Gilroy', sans-serif;
            }
    }
    
    #one {
        background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
    }
    #two {
        background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
    }
    #three {
        background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
    }
    #four {
        background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);
    }
}

.wallet_block {
    h1 {
        font-weight: 500;
        font-size: 24px;
        font-family: 'Gilroy', sans-serif;
    }
    a {
        color: #0047FF;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Gilroy', sans-serif;
    }
}

.latest_transactions {
    margin: 74px 0 109px;

    h2 {
        font-size: 24px;
        font-weight: 500;
        font-family: 'Gilroy', sans-serif;
    }
    table {
        border-collapse: collapse;
        text-align: left;
        margin-bottom: 25px;
    }
    th {
        color: #B9C0D1;
        font-weight: 600;
        font-size: 14px;
        padding: 32px 0 21px;
        font-family: 'Gilroy', sans-serif;
    }
    td {
        border-bottom: 1px solid #B9C0D1;
        padding: 10px 0;
        font-weight: 500;
        font-size: 14px;
        font-family: 'Gilroy', sans-serif;
    }

    .one {
        width: 180px;
    }
    .two {
        width: 380px;
    }
    .three {
        width: 300px;
    }
    .four {
        width: 280px;
    }
    .five {
        width: 100px;
    }

    a {
        color: #0047FF;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Gilroy', sans-serif;
    }
}
